{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="starter-template">
        <h1>BOSCH 18 V 1/4 In. Hex Impact Drill/Driver</h1>
        <img src="../assets/images/bosch.png" alt="Bosch" style="width:515px;height:380px;">
        <br>
        <br>
        <p class="lead">10 MIOTA / EUR 24,99</p>
        <div class="btn-container">
        	<a href="/paid" type="button" class="btn btn-lg btn-success">Buy With IOTA Now!</a>
        </div>
      </div>
    </div><!-- /.container -->
{% endblock %}
