{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="paid-template">
		<h1>Thank You!</h1>
		<p class="lead"><strong>You will receive your order within 2 days.</p>
			<h2>Please remember to scan the QR Code upon receival of goods.</h2>
			<h3>Payment has been locked in a smart contract.</h3>
		<hr>
		<p>
			Having trouble? <a href="/contact">Contact us</a>
		</p>
		<p class="lead">
			<a class="btn btn-primary btn-sm" href="/index" role="button">Continue to homepage</a>
		</p>
	</div>
</div><!-- /.container -->
{% endblock %}